.collection-preview{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title{
        font-size: 28px;
        margin-bottom: 25px;
    }
    .preview{
        display: flex;
        justify-content: space-between;
    }
}

.view-more{
    display: flex;
    justify-content: center;
    height: 100px;
    .button{
        padding: 5px;
        &:hover{
        border: solid 1px rgb(73, 70, 70);
        background-color: black;
        color: white;
        }
    }
}