.cart-dropdown{
    position: absolute;
    
    display: flex;
    flex-direction: column;
    border: 40px sold rgb(146, 25, 25);
    height: 340px;
    width: 240px;
    background-color: white;
    top: 80px;
    right: 0;
    z-index: 5;
    padding: 20px;

    .cart-items{
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }
    .button{
        margin-top: auto;
    }
}